<style type = "text/css">
    head {
        font-family: 'Cambria';
        font-weight: 350;
    }

    footer {
        font-family: 'Cambria';
        font-weight: 350; 
    }

    body {
        background-color: lightslategrey;
        font-family: 'Cambria';
        font-weight: 350; 
    }

    :root {
        --main-bgcolor: lightslategrey;
        --secondary-bgcolor: rgb(208, 217, 226);
        --main-text-color: rgb(0, 0, 0);
        --secondary-textcolor: rgb(54, 59, 65);
    }

    .post-image{
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 10px;
    }

</style>